{{ define "main" }}
    <!-- Photo de couverture ou d'illustration en haut de la page -->
    <div class="cover-photo">
        <img src="{{ "/images/cover-photo.jpg" | relURL }}" alt="Cover Photo">
    </div>

    <h1>Bonjour, je suis Mohamed Heimida</h1>
    <p>Bienvenue sur mon Portfolio. Je suis un Data Scientist passionné par le domaine des données.</p>

    <div class="home-page-content">
        {{ range .Pages }}
            <div class="home-page-item">
                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                <p>{{ .Summary }}</p>
            </div>
        {{ end }}
    </div>
{{ end }}


